body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
}

th {
    background-color: grey;
    color: black;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

h3, h1 {
    margin: 0;
}   